---
app-template:
  controllers:
    shlink:
      strategy: Recreate
      containers:
        shlink:
          nameOverride: shlink
          image:
            repository: ghcr.io/shlinkio/shlink
            tag: 4.6.0
    web:
      strategy: Recreate
      containers:
        web:
          nameOverride: web
          image:
            repository: ghcr.io/shlinkio/shlink-web-client
            tag: 4.6.1
  service:
    shlink:
      controller: shlink
      ports:
        http:
          port: 8080
    web:
      controller: web
      ports:
        http:
          port: 8080
