---
oauth2-proxy:
  image:
    tag: "v7.13.0"

  # Secrets
  # config:
  #   clientID: ""
  #   clientSecret: ""
  #   cookieSecret: ""
  #   configFile: ""

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      # nginx.ingress.kubernetes.io/proxy-buffer-size: 16k
    hosts:
      - &host oauth-proxy.mdeleon.dev
    tls:
      - secretName: oauth2-proxy-tls-cert
        hosts:
          - *host
