---
version: "3"

services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
    volumes:
      - adguard:/opt/adguardhome/
    labels:
      kompose.service.type: clusterip
      kompose.service.expose: guard.mdeleon.dev
      kompose.service.expose.tls-secret: adguard-tls-cert
      kompose.volume.size: 4Gi
      cert-manager.io/cluster-issuer: letsencrypt-prod
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: Adguard Home
      gethomepage.dev/description: Ad blocker and DNS server
      gethomepage.dev/group: Network
      gethomepage.dev/icon: adguard-home.png
      gethomepage.dev/pod-selector: ""

volumes:
  adguard:
