name: Lint YAML
on: [push]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v6

      - name: Run yamllint
        uses: bewuethr/yamllint-action@v1
        with:
          config-file: "./.yamllint.yaml"
